.App {
    text-align: center;
    background-color: #9CC67D;
    width: 50%;
    padding: 20px;
    border: 10px dashed black;
    border-radius: 40px;
    margin: 30px auto;
}

button {
    cursor: pointer;
}

.taches {
    border: 5px solid black;
    background-color: #A77DC6;
    padding: 0;
    width: 70%;
    margin: 50px auto 50px auto;
    border-radius: 10px;
}

.taches h2 {
    border-bottom: 5px solid black;
    margin: 0px;
    padding: 5px;
}

.taches ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.taches ul li {
    border: 3px solid black;
    margin: 0;
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
}

.taches ul li {
    border: 3px solid black;
    margin: 0;
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    border: 3px solid black;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

input[type="checkbox"]:checked {
    background-color: black;
    cursor: pointer;
}

li button {
    width: 30px;
    height: 30px;
    border-radius: 0 100px 100px 0;
    display: block;
    height: auto;
    border-left: 3px solid black;
    width: 10%;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    font-size: 20px;
    font-weight: bolder ;
}

li button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.tacheFait {
    opacity: 0.5;
}

.tacheFait label {
    text-decoration: line-through;
}

.add {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
}

.add input {
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid black;
    border-right: 1px solid black;
    border-radius: 100px 0 0 100px;
    display: flex;
    flex: 1;
}

.add button {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    border-left: 2px solid black;
    border-radius: 0 100px 100px 0;
}